*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif; /* Escolha uma fonte genérica ou especifique a sua preferida */
}

body {
   
    background: url('./assets/fotoHome.png') no-repeat center center fixed;
    background-size: cover;
    line-height: 1.6;
    font-size: 16px;
    color: #333;
  }

  /* estilos cabeçalho*/
  header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10;
    background: #D9D9D9;
}

#header{
  max-width: 1100px;
  margin: 0 20px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 10px;
}
.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  
}
.navbar{
  align-items: center;
  justify-content: space-between;
  display: flex;
  list-style: none;
  gap: 15px;
  
}

.logo{
  margin: 10px;
  color: #102C53;
}

.btn-header{
  background-color: #102C53;
  display: flex;
  padding: 10px 25px;
  border: 2px solid color(#112c53);
  border-radius: 10px;
  color: #ffffff;
  letter-spacing: 1.5px;
  transition: ease .50s;
}
.btn-header:hover{
  color: #ffffff;
  background-color: #102C53;
  transform: scale(1.2);
}
.btn-header1{
  background-color: #EB4552;
  display: flex;
  padding: 10px 20px;
  border: 2px solid color(#EB4552);
  border-radius: 10px;
  color: #ffffff;
  letter-spacing: 1.5px;
  font-weight: 500;
  transition: ease .50s;
}
.btn-header1:hover{
  color: #ffffff;
  background-color: #EB4552;
  transform: scale(1.2);
}

/* Estilos para o chat */
.chat-container {
    width: 400px;
    margin: 20px auto;
}

.chat-box {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 70%;
    padding: 8px;
}

button {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  background-color:rgb(118, 117, 117) ;
}

.container {
  width: 1280px;
  height: 832px;
  position: relative;
  background: rgb(118, 117, 117);
}

.box {
  width: 500px;
  height: 527px;
  position: absolute;
  border-radius: 20px;
}

#box1 {
  left: 800px;
  top: 234px;
}

#box2 {
  left: 200px;
  top: 234px;
}

.inner-box {
  width: 500px;
  height: 527px;
  position: absolute;
  border-radius: 20px;
}

#innerBox1 {
  background: #112C53;
}

#innerBox2 {
  width: 500px;
  height: 500px;
  top: 27px;
  background: url(https://img.freepik.com/free-icon/user_318-804790.jpg);
}

#innerBox3 {
  background: #EB4552;
}

#innerBox4 {
  width: 500;
  height: 500px;
  
  top: 27px;
  background: url(https://img.freepik.com/free-icon/user_318-804790.jpg);
}

.title {
  left: 450px;
  top: 65px;
  position: absolute;
  color: black;
  font-size: 80px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
}

/*encerrar estilos para o chat*/

/* cadastro*/

 
/*encerrar cadastro*/
.e8_2 { 
	overflow:hidden;
}
.e8_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1280px;
	height:832px;
	position:absolute;
}
.e8_20 { 
	width:500px;
	height:527px;
	position:absolute;
	left:670px;
	top:234px;
}
.e8_14 { 
	background-color:rgba(17.00000088661909, 44.000001177191734, 83.00000265240669, 1);
	width:500px;
	height:527px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e8_12 { 
	background-color:rgba(0, 0, 0, 1);
	width:500px;
	height:500px;
	position:absolute;
	left:0px;
	top:27px;
	border-radius:20px;
}
.e8_19 { 
	width:500px;
	height:527px;
	position:absolute;
	left:110px;
	top:234px;
}
.e8_13 { 
	background-color:rgba(235.0000011920929, 69.00000348687172, 82.00000271201134, 1);
	width:500px;
	height:527px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e8_7 { 
	background-color:rgba(0, 0, 0, 1);
	width:437.5px;
	height:500px;
	position:absolute;
	left:31px;
	top:27px;
	border-radius:20px;
}
.e8_18 { 
	color:rgba(0, 0, 0, 1);
	width:715px;
	height:97px;
	position:absolute;
	left:282px;
	top:65px;
	font-family:Inter;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}

/*ccaixa de login*/
.e13_19 { 
	overflow:hidden;
  display: flex;
  margin-top: 140px;
  margin-left: 670px;
}
.e13_19 { 
	width:500px;
	height:560px;
	position:absolute;
}
.e13_18 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:500px;
	height:560px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e16_11 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:100px;
	height:50px;
	position:absolute;
	left:192px;
	top:416px;
}
.e16_2 { 
	width:150px;
	height:139px;
	position:absolute;
	left:181px;
	top:63px;
	background-image:url(images/logo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e16_7 { 
	width:340px;
	height:50px;
	position:absolute;
	left:80px;
	top:279px;
}
.e16_6 { 
	background-color:rgba(255, 255, 255, 1);
	width:340px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e16_5 { 
	color:rgba(0, 0, 0, 0.5);
	width:74px;
	height:15px;
	position:absolute;
	left:21px;
	top:17px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e16_8 { 
	width:340px;
	height:50px;
	position:absolute;
	left:80px;
	top:351px;
}
.e16_9 { 
	background-color:rgba(255, 255, 255, 1);
	width:340px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e16_10 { 
	color:rgba(0, 0, 0, 0.5);
	width:77px;
	height:15px;
	position:absolute;
	left:18px;
	top:17px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e16_17 { 
	width:160px;
	height:40px;
	position:absolute;
	left:260px;
	top:449px;
}
.e16_18 { 
	background-color:rgba(235.0000011920929, 69.00000348687172, 82.00000271201134, 1);
	width:160px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e16_19 { 
	color:rgba(255, 255, 255, 1);
	width:60px;
	height:24px;
	position:absolute;
	left:50px;
	top:8px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e16_23 { 
	width:160px;
	height:40px;
	position:absolute;
	left:80px;
	top:449px;
}
.e16_24 { 
	background-color:rgba(16.000000946223736, 44.000001177191734, 83.00000265240669, 1);
	width:160px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e16_25 { 
	color:rgba(255, 255, 255, 1);
	width:89px;
	height:24px;
	position:absolute;
	left:35px;
	top:8px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e16_26 { 
	color:rgba(0, 0, 0, 1);
	width:96px;
	height:15px;
	position:absolute;
	left:98px;
	top:406px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}

/*caixas*/
.e38_14 { 
	overflow:hidden;
  margin-top: 150px;
  margin-left: 40px;
}
.e38_14 { 
	width:390px;
	height:250px;
	position:absolute;
}
.e38_13 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(23.000000528991222, 71.00000336766243, 139.0000069141388, 0.20000000298023224);
	width:390px;
	height:250px;
	position:absolute;
	left:0px;
	top:250px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}
.e38_25 { 
	width:350px;
	height:40px;
	position:absolute;
	left:20px;
	top:28px;
}
.e38_24 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:350px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e38_24 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e38_22 { 
	color:rgba(0, 0, 0, 0.5);
	width:81px;
	height:15px;
	position:absolute;
	left:9px;
	top:12px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e38_28 { 
	width:350px;
	height:140px;
	position:absolute;
	left:20px;
	top:88px;
}
.e38_29 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:350px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e38_29 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e38_30 { 
	color:rgba(0, 0, 0, 0.5);
	width:39px;
	height:15px;
	position:absolute;
	left:9px;
	top:12px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e38_31 { 
	width:350px;
	height:40px;
	position:absolute;
	left:4.547473508864641e-13px;
	top:100px;
}
.e38_32 { 
	background-color:rgba(23.000000528991222, 71.00000336766243, 139.0000069141388, 1);
	width:350px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e38_32 { 
	border:2px solid rgba(16.000000946223736, 43.00000123679638, 83.00000265240669, 1);
}
.e38_33 { 
	color:rgba(255, 255, 255, 1);
	width:162px;
	height:22px;
	position:absolute;
	left:95px;
	top:9px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}

.e45_315 { 
	overflow:hidden;
  margin-left: 470px;
  margin-top: 150px;
}
.e45_315 { 
	width:700px;
	height:650px;
	position:absolute;
}
.e45_246 { 
	width:700px;
	height:854px;
	position:absolute;
	left:0px;
	top:0px;
}
.e45_247 { 
	width:700px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
}
.e45_248 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:700px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
}
.e45_249 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:700px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e45_250 { 
	color:rgba(0, 0, 0, 1);
	width:214px;
	height:60px;
	position:absolute;
	left:20px;
	top:80px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e45_251 { 
	color:rgba(0, 0, 0, 0.5);
	width:296px;
	height:15px;
	position:absolute;
	left:20px;
	top:58px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e45_252 { 
	width:150px;
	height:40px;
	position:absolute;
	left:20px;
	top:150px;
}
.e45_253 { 
	background-color:rgba(23.000000528991222, 71.00000336766243, 139.0000069141388, 1);
	width:150px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:10px;
}
.e45_254 { 
	color:rgba(255, 255, 255, 1);
	width:92px;
	height:22px;
	position:absolute;
	left:29px;
	top:9px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e45_255 { 
	width:150px;
	height:40px;
	position:absolute;
	left:188px;
	top:150px;
}
.e45_256 { 
	background-color:rgba(23.000000528991222, 71.00000336766243, 139.0000069141388, 1);
	width:150px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:10px;
}
.e45_257 { 
	color:rgba(255, 255, 255, 1);
	width:111px;
	height:22px;
	position:absolute;
	left:19px;
	top:9px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e45_258 { 
	color:rgba(0, 0, 0, 1);
	width:250px;
	height:22px;
	position:absolute;
	left:60px;
	top:19px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e45_259 { 
	width:190px;
	height:150px;
	position:absolute;
	left:477px;
	top:25px;
}
.e45_260 { 
	background-color:rgba(85.0000025331974, 85.0000025331974, 255, 1);
	width:150px;
	height:150px;
	position:absolute;
	left:40px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e45_260 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e45_261 { 
	background-color:rgba(85.0000025331974, 85.0000025331974, 255, 1);
	width:150px;
	height:150px;
	position:absolute;
	left:21px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e45_261 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e45_262 { 
	background-color:rgba(85.0000025331974, 85.0000025331974, 255, 1);
	width:150px;
	height:150px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e45_262 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e45_263 { 
	background-color:rgba(122.1874974668026, 57.52994656562805, 104.08338412642479, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:11px;
	top:10px;
	border-top-left-radius:360px;
	border-top-right-radius:360px;
	border-bottom-left-radius:360px;
	border-bottom-right-radius:360px;
}
.e45_263 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e45_264 { 
	width:700px;
	height:200px;
	position:absolute;
	left:0px;
	top:218px;
}
.e45_265 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:700px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
}
.e45_266 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:700px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e45_267 { 
	color:rgba(0, 0, 0, 1);
	width:214px;
	height:60px;
	position:absolute;
	left:20px;
	top:80px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e45_268 { 
	color:rgba(0, 0, 0, 0.5);
	width:170px;
	height:15px;
	position:absolute;
	left:20px;
	top:58px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e45_269 { 
	width:150px;
	height:40px;
	position:absolute;
	left:20px;
	top:150px;
}
.e45_270 { 
	background-color:rgba(23.000000528991222, 71.00000336766243, 139.0000069141388, 1);
	width:150px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:10px;
}
.e45_271 { 
	color:rgba(255, 255, 255, 1);
	width:92px;
	height:22px;
	position:absolute;
	left:29px;
	top:9px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e45_272 { 
	width:150px;
	height:40px;
	position:absolute;
	left:188px;
	top:150px;
}
.e45_273 { 
	background-color:rgba(23.000000528991222, 71.00000336766243, 139.0000069141388, 1);
	width:150px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:10px;
}
.e45_274 { 
	color:rgba(255, 255, 255, 1);
	width:111px;
	height:22px;
	position:absolute;
	left:19px;
	top:9px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e45_275 { 
	color:rgba(0, 0, 0, 1);
	width:165px;
	height:22px;
	position:absolute;
	left:60px;
	top:19px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e45_276 { 
	width:190px;
	height:150px;
	position:absolute;
	left:477px;
	top:25px;
}
.e45_277 { 
	background-color:rgba(85.0000025331974, 85.0000025331974, 255, 1);
	width:150px;
	height:150px;
	position:absolute;
	left:40px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e45_277 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e45_278 { 
	background-color:rgba(85.0000025331974, 85.0000025331974, 255, 1);
	width:150px;
	height:150px;
	position:absolute;
	left:21px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e45_278 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e45_279 { 
	background-color:rgba(85.0000025331974, 85.0000025331974, 255, 1);
	width:150px;
	height:150px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e45_279 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e45_280 { 
	background-color:rgba(122.1874974668026, 57.52994656562805, 104.08338412642479, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:11px;
	top:10px;
	border-top-left-radius:360px;
	border-top-right-radius:360px;
	border-bottom-left-radius:360px;
	border-bottom-right-radius:360px;
}
.e45_280 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e45_281 { 
	width:700px;
	height:200px;
	position:absolute;
	left:0px;
	top:436px;
}
.e45_282 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:700px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
}
.e45_283 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:700px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e45_284 { 
	color:rgba(0, 0, 0, 1);
	width:214px;
	height:60px;
	position:absolute;
	left:20px;
	top:80px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e45_285 { 
	color:rgba(0, 0, 0, 0.5);
	width:88px;
	height:15px;
	position:absolute;
	left:20px;
	top:58px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e45_286 { 
	width:150px;
	height:40px;
	position:absolute;
	left:20px;
	top:150px;
}
.e45_287 { 
	background-color:rgba(23.000000528991222, 71.00000336766243, 139.0000069141388, 1);
	width:150px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:10px;
}
.e45_288 { 
	color:rgba(255, 255, 255, 1);
	width:92px;
	height:22px;
	position:absolute;
	left:29px;
	top:9px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e45_289 { 
	width:150px;
	height:40px;
	position:absolute;
	left:188px;
	top:150px;
}
.e45_290 { 
	background-color:rgba(23.000000528991222, 71.00000336766243, 139.0000069141388, 1);
	width:150px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:10px;
}
.e45_291 { 
	color:rgba(255, 255, 255, 1);
	width:111px;
	height:22px;
	position:absolute;
	left:19px;
	top:9px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e45_292 { 
	color:rgba(0, 0, 0, 1);
	width:221px;
	height:22px;
	position:absolute;
	left:60px;
	top:19px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e45_293 { 
	width:190px;
	height:150px;
	position:absolute;
	left:477px;
	top:25px;
}
.e45_294 { 
	background-color:rgba(85.0000025331974, 85.0000025331974, 255, 1);
	width:150px;
	height:150px;
	position:absolute;
	left:40px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e45_294 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e45_295 { 
	background-color:rgba(85.0000025331974, 85.0000025331974, 255, 1);
	width:150px;
	height:150px;
	position:absolute;
	left:21px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e45_295 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e45_296 { 
	background-color:rgba(85.0000025331974, 85.0000025331974, 255, 1);
	width:150px;
	height:150px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e45_296 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e45_297 { 
	background-color:rgba(122.1874974668026, 57.52994656562805, 104.08338412642479, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:11px;
	top:10px;
	border-top-left-radius:360px;
	border-top-right-radius:360px;
	border-bottom-left-radius:360px;
	border-bottom-right-radius:360px;
}
.e45_297 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e45_298 { 
	width:700px;
	height:200px;
	position:absolute;
	left:0px;
	top:654px;
}
.e45_299 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:700px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
}
.e45_300 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:700px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e45_301 { 
	color:rgba(0, 0, 0, 1);
	width:214px;
	height:60px;
	position:absolute;
	left:20px;
	top:80px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e45_302 { 
	color:rgba(0, 0, 0, 0.5);
	width:189px;
	height:15px;
	position:absolute;
	left:20px;
	top:58px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e45_303 { 
	width:150px;
	height:40px;
	position:absolute;
	left:20px;
	top:150px;
}
.e45_304 { 
	background-color:rgba(23.000000528991222, 71.00000336766243, 139.0000069141388, 1);
	width:150px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:10px;
}
.e45_305 { 
	color:rgba(255, 255, 255, 1);
	width:92px;
	height:22px;
	position:absolute;
	left:29px;
	top:9px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e45_306 { 
	width:150px;
	height:40px;
	position:absolute;
	left:188px;
	top:150px;
}
.e45_307 { 
	background-color:rgba(23.000000528991222, 71.00000336766243, 139.0000069141388, 1);
	width:150px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:10px;
}
.e45_308 { 
	color:rgba(255, 255, 255, 1);
	width:111px;
	height:22px;
	position:absolute;
	left:19px;
	top:9px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e45_309 { 
	color:rgba(0, 0, 0, 1);
	width:206px;
	height:22px;
	position:absolute;
	left:60px;
	top:19px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e45_310 { 
	width:190px;
	height:150px;
	position:absolute;
	left:477px;
	top:25px;
}
.e45_311 { 
	background-color:rgba(85.0000025331974, 85.0000025331974, 255, 1);
	width:150px;
	height:150px;
	position:absolute;
	left:40px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e45_311 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e45_312 { 
	background-color:rgba(85.0000025331974, 85.0000025331974, 255, 1);
	width:150px;
	height:150px;
	position:absolute;
	left:21px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e45_312 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e45_313 { 
	background-color:rgba(85.0000025331974, 85.0000025331974, 255, 1);
	width:150px;
	height:150px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e45_313 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e45_314 { 
	background-color:rgba(122.1874974668026, 57.52994656562805, 104.08338412642479, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:11px;
	top:10px;
	border-top-left-radius:360px;
	border-top-right-radius:360px;
	border-bottom-left-radius:360px;
	border-bottom-right-radius:360px;
}
.e45_314 { 
	border:1px solid rgba(0, 0, 0, 1);
}

  /* Outros estilos para o conteúdo do site 
  .content {
     Cor do texto, ajuste conforme necessário */
  
  /* 
  /* Estilo para títulos */
   h2, h3 {
    color: #fff;
  }
  
  /* Estilo para parágrafos */
  p {
    margin-bottom: 20px;
  }
  
  /* Estilo para links no conteúdo */
  .content a {
    color: #ffc107; /* Cor dos links, ajuste conforme necessário */
    text-decoration: none;
  }
  
  .content a:hover {
    text-decoration: underline;
  }
  
  /*Quadro de login*/

  .login{
    display: flexbox;
    justify-content: center;
    width: 600px;
    height: 350px;
    margin-left: 70%;
    margin-top: 20%;
    background-color: #ffffff;
    border-radius: 20px;
  }

  .btn-login{
    background-color: #102C53;
    display: flex;
    padding: 5px 25px;
    border: 2px solid color(#112c53);
    border-radius: 25px;
    color: #ffffff;
    letter-spacing: 1.5px;
    transition: ease .50s;
  }
  /* página principal*/ 

  .navbar-header {
    display: flex;
    list-style: none;
}
.navbar-header > li{
  padding: 10px;
}
.navbar-header > li > a{
  text-decoration: none;
}
